@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(to right, rgb(152, 201, 250), white);
}
li, a, label, input, button {
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;
}
header {
    background: rgba(0,0,0,0.4);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logoinicial {
    width: fit-content;
    height: 100%;
}
.logoinicial img {
    height: 100%;
    padding: 0px 30px;
    align-self: center;

}
.barranav ul {
    list-style: none;
}
.barranav li {
    display: inline;
    margin: 75px;
}
.barranav li a {
    font-weight: 700;
    font-size: 18px;
    transition: all 0.3s ease 0s;
}
.barranav li a:hover {
    color: rgb(255, 255, 255);
}
.formcadastro input {
    padding-left: 10px;
    border: none;
    border-radius: 10px;
}
button {
    font-size: small;
    padding: 5px 10px;
    background-color: rgba(147, 201, 255, 1);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover {
    background-color: white  ;
}
.cadastrolink {
    margin-left: 5px;
    margin-right: 15px;
    font-size: small;
}
.cadastrolink {
    transition: all 0.3s ease 0s;
}
.cadastrolink:hover {
    color: rgb(255, 255, 255);
}
main {
    height: 65vh;
}
footer{
    background: rgba(0,0,0,0.4) ;
    height:auto;
    width: 100%;
    font-family: "Quicksand", sans-serif;
}
.rodapeprincipal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}
.rodapeprincipal img{
    height: 50px;
    margin-top: 6px;
}
.rodapeprincipal p{
    margin-bottom: 15px;
    font-size: larger;
    font-weight: 700;
}
.linksextra {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.linksextra li {
    display: inline;
    margin: 0 10px;
}
.linksextra li a {
    transition: all 0.3s ease 0s;
}
.linksextra li a:hover {
    color: rgb(255, 255, 255);
}
.rodapefim {
    padding: 10px 0;
    text-align: center;
}